* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease;
}

html {
    width: 100%;
    font-family: 'Inter', system-ui, sans-serif;
    background: linear-gradient(135deg, #2c3d63, #5f80a7);
    color: var(--text-primary-color);
}
body {
    width: 100%;
 
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main {
    width: 100%;

}

main section {
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-2xl);
    border-radius: 20px;
    padding: 30px;
}

.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius:20px;
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(129, 39, 39, 0.3);
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}


#reset-btn {
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
    border-radius: 20px;
}
#reset-btn:hover {
    background-color: #ff4d4d;
    
}

#download-btn {
    background-color: var(--bg-download-color);
    color: var(--text-primary-color);
     border-radius: 20px;
}
#download-btn:hover {
    background-color: #00cc66;
}


main section .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
    width: 70%;

   
}

main section .right {
    width: 30%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
    backdrop-filter: blur(12px);
    box-shadow: 0 20px 40px rgba(195, 207, 254, 0.4);

}

main section .top {
    display: flex;
    align-items: center;
    gap: var(--gutter-md);

    
 
}

main section .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 5/3;
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-xl);
    box-shadow: 0 20px 40px rgba(195, 207, 254, 0.4);
    border: 1.5px dotted white;
    border-radius:40px;
}

main section .bottom .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    gap: var(--gutter-md);

}

main section .bottom .placeholder i {
    font-size: 10rem;
}

main section .bottom .placeholder p {
    font-size: var(--font-size-lg);
}

main section .right {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    border: 1.5px dotted white;
    border-radius:40px;
    box-shadow: 0 20px 40px rgba(195, 207, 254, 0.4);

}

main section .right .filters {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filter {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
main section .right .filter:hover {
    background: rgba(255,255,255,0.05);
}

main section .right .filter input {
   width: 100%;
    margin-top: var(--margin-sm);
    appearance: none;
    outline: none;
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(90deg, #00f5ff, #ff00c8);
    cursor: pointer;
}

main section .right .filter input::-webkit-slider-runnable-track {
    height: 3px;
    background-color: var(--bg-active-color);
    cursor: pointer;
    border-radius: 2px;
}

main section .right .filter input::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    background-color:skyblue;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    margin-top: -8.5px;
    box-shadow: 0 0 10px #00f5ff;
}
canvas{
    max-width: 90%;
    max-height: 80vh;
    display: none;
    transition: filter 0.4s ease, transform 0.3s ease;
}
canvas:hover {
    transform: scale(1.02);
}

.presets {
    display: flex;
    gap: var(--gutter-sm);
    flex-wrap: wrap;
}
.presets button {
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid rgba(224, 219, 219, 0.2);
    background: transparent;
    color:white;
    cursor: pointer;
}

.presets button:hover {
    background: #00c6ff;
    color: black;
}

